body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111;
    color: white;
    font-family: sans-serif;
}

canvas {
    border: 2px solid white;
    background-color: #222;
}
